main {
  display: flex;
}
.example-container {
  height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-card {
  padding: 2rem;
  max-width: 300px;
  margin: 1rem;
}

.add-song {
  padding: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}

.mat-icon-custom {
  height: 48px;
  width: 48px;
  font-size: 48px;
}
.actions {
  display: flex;
  justify-content: flex-start;
  height: 3rem;
}

.example-header-image {
  background-size: cover;
}
